.body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 17px; */
  line-height: 1.6;
  color: white;
  margin: 0;
  padding: 0;
}
h2  {
  margin: 0;
}
/* main page */
#main-page  {
  /* text-align: center; */
  background-image: url("../img/nik-owens-unsplash.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* display: flex;
  flex-direction: column;
  color: white;
  padding-top: 100px; */
}
.title-background {
  background: #070707;
  width: fit-content;
  margin: auto;
  padding: 20px;
}
.title  {
  text-align: center;
  color: white;
  font-size: 4.5em;
}

/* nav slider style */
.nav-slider {
padding: 15px;
cursor: pointer;

}
.line  {
  background: white;
  height: 3px;
  margin: 5px;
  width: 30px;
}
.line:nth-child(1) {
  margin-top: 0;
}

/* nav-slider section */
.nav-slider-section {
  background: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.close-nav-slider {
  border: none;
  outline: none;
  float: right;
  background: transparent;
  color: #f1c40f;
  font-size: 1.5em;
  padding: 15px;
}
.nav-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.nav-links  {
  text-decoration: none;
  color: white;
  font-size: 2.5em;
}


